body {
    font-family: Arial, sans-serif;
    background: #f8f9fa;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.apply-form {
    background: #fff;
    border-radius: 8px;
    border: 2px dashed #ea0707;
    padding: 20px;
    max-width: 500px;
    width: 100%;;
   
}

.apply-form h3 {
    margin-bottom: 15px;
}

.upload-section {
    text-align: center;
    border: 1px dashed #ccc;
    padding: 15px;
    border-radius: 5px;
}

.upload-title {
    font-weight: bold;
}

.file-note {
    font-size: 14px;
    color: #777;
}

.btn-choose {
    background: #c90e0e;
    color: #fff;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.file-name {
    font-size: 14px;
    color: #333;
    margin-top: 8px;
}

.info-title {
    margin-top: 15px;
    font-weight: bold;
    color: green;
}

.note {
    color: red;
}

.required {
    color: red;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 80px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn-cancel {
    background: #ddd;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-submit {
    background: #c6102b;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
}
